.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(114, 150, 152);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.logo {
  height:auto;
    width:auto;
    float: left;
    padding-left: 2%;
    margin: 0 auto; 
    padding: 10px 0;
    object-fit:cover;
}

