.App {
  text-align: center;
}

body {
  background-color: rgb(151, 234, 237, .4);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(140, 216, 221, 0.5);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}





